*{
  outline:none;
}
body{
    font-family: LatoWeb;
    font-style: normal;
    font-size: 16px;
    /* line-height: 1.6375; */
    color: #a4a4a4;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: LatoWeb;
    font-style: normal;
    margin: 0;
    color: #1e1d24;
}
h1, .h1 {
    font-size: 46px;
    font-weight: 400;
    line-height: 1.141;
    letter-spacing: -.16rem;
}
h2, .h2 {
    font-size: 32px;
    font-family: LatoWebBold;
    line-height: 1.286;
}
h3, .h3 {
    font-size: 23px;
    font-family: LatoWebBold;
    line-height: 1.286;
}
img {
    /*display: block;*/
    max-width: 100%;
}
a{
    text-decoration: none;
}
a:active, a:hover {
    outline-width: 0;
}
* ul {
    margin: 0;
    list-style: none;
    padding: 0px;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    -ms-padding-start: 0px;
}
body.imageBg{
    background: url(../../images/bg.jpg);
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body.colorBg {
    background-color: #f5f5f5;
    padding-top: 90px;
}

.navbar-nav>li>a i {
    font-size: 30px;
}
/* body.indexBg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/bg.jpg) center no-repeat;
    z-index: -1;
} */
.start-page-cnr {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}
.signin-container {
    margin-bottom: 15px;
}
.start-page-cnr .center-logo {
    margin-bottom: 60px;
}
/*.start-page-cnr .center-logo img {
    width: 140px;
}*/
.signin-container a {
    text-decoration: none;
    color: #fff;
}
.signin-container .signup-a-tag {
    border-bottom: 1px solid;
    height: 25px;
}
.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: #55acee;
    font-size: 18px;
    font-weight: 300;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
    font-size: 18px;
    font-weight: 300;
}
i.fab.fa-twitter, i.fab.fa-facebook-f {
    padding-right: 15px;
    font-size: 19px;
}

/* Boot strap form-coltrols styling strat */

.start-page-cnr .form-control {
    height: 46px;
    font-size: 16px;
    color: #fff;
    background-color: #0000006e;
    border: 1px solid transparent;
    border-radius: 6px;
}
.start-page-cnr .form-control::-webkit-input-placeholder { color: #fff; }  /* WebKit, Blink, Edge */
.start-page-cnr .form-control:-moz-placeholder { color: #fff; }  /* Mozilla Firefox 4 to 18 */
.start-page-cnr .form-control::-moz-placeholder { color: #fff; }  /* Mozilla Firefox 19+ */
.start-page-cnr .form-control:-ms-input-placeholder { color: #fff; }  /* Internet Explorer 10-11 */
.start-page-cnr .form-control::-ms-input-placeholder { color: #fff; }  /* Microsoft Edge */

/*.form-control:focus {
    border-color: #e44c3e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 126, 102, 0.53);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 126, 102, 0.53);
}*/

/* Boot strap form-coltrols styling end */



.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    color:#CCC;
    padding: 12px 0px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #CCC;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
#signinBtn {
    margin-top: 23px;
}
.signin-row a:hover{
    color: #ccc;
}
.signin-row .signup-a-tag:hover{
    color: #ccc;
    border-bottom: none;
}
.custom-hidden {
    display: none;
}
.progress {
    height: 8px;
    margin-bottom: 15px;
    background-color: transparent;
}
.navbar-header {
    margin: 20px 0px;
}
.navbar-header img{
    width: 95px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #abb3bb;
    font-size: 18px;
    /*line-height: 1.637;
    padding-top: 30px;
    padding-bottom: 30px;*/
    padding: 0px;
}
.navbar-nav>li {
    padding: 30px 25px 30px 0px;
    display: inline-block;
    float: left;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #c2c2c2;
}
.navbar {
    border-radius: 0;
    min-height: 56px;
    border-bottom: 1px solid #c2c2c2;
}
.navbar-nav>li:last-child {
    padding-right: 0px;
}


.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #e44c3e;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:focus{
    color: #000;
    background-color: transparent;
}
.content {
    margin-top: 38px;
    padding-bottom: 38px;
    min-height:840px;
}
.content.front-home {
    margin-top: 22px;
}
.uploadImageSuccessBg .content {
    margin-top: 145px;
    padding-bottom: 38px;
}

/* .socialDiv {
    width: 60%;
    float: right;
}
.image-div .hoverDiv {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.imgDesc {
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 8px;
    padding-left: 8px;
}
.imgDesc .imageBottomBg{
    background-color: #FFF;
} */

/* .userDetails {
    width: 40%;
    background: #333;
    padding-bottom: 8px;
    float: left;
    clear: left;
} */

.socialDiv {
    /* background-color: #e64d3d; */
    /* position: absolute;
    bottom: -160px;
    right: 0;
    left: 0;
    transition: bottom 0.5s ease;
    width: 100%;
    visibility: hidden; */
}
/* .socialDiv ul {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    -ms-padding-start: 0px;
    font-size: 0px;
    margin-bottom: 0px;
    float: right;
} */
.imageBox {
    position: relative;
}
/* .imageBox:hover .socialDiv {
    visibility: visible;
    bottom: -62px;
} */


/*.socialDiv i {
    padding: 14px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    height: 45px;
    width: 45px;
    background: #46b992;
}*/


.image-div {
    position: relative;  
    overflow: hidden;
    /*min-height: 200px;*/
}
/* .image-div:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,a5a5a5+99&0+67,0+67,0.65+99
    Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+67,0+67,0.65+99
    Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#020000+100,050505+100&0+70,1+100
    background: -moz-linear-gradient(top, rgba(5,5,5,0) 70%, rgba(5,5,5,1) 100%); FF3.6-15
    background: -webkit-linear-gradient(top, rgba(5,5,5,0) 70%,rgba(5,5,5,1) 100%); Chrome10-25,Safari5.1-6
    background: linear-gradient(to bottom, rgba(5,5,5,0) 70%,rgba(5,5,5,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00050505', endColorstr='#050505',GradientType=0 ); IE6-9
}

.likeSection span {
    background: #e44c3e;
    padding: 8px;
    line-height: 0.45;
    margin-bottom: 8px;
    border-radius: 4px;
}
.likeSection span i {
    font-size: 24px;
    color: #fff;
}*/
ul.user-section {
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    -ms-padding-start: 0px;
    font-size: 0px;
    margin-bottom: 0px;
    z-index:1;
    opacity: 0;
}
ul.user-section li {
    display: inline-block;
    border: 2px solid;
    font-size: 15px;
    padding: 0px;
    background-color: #a3a19f;
    border-radius: 50%;
}

ul.user-section .like-num {
    /* padding: 13px 16px 16px 13px; */
    text-align: center;
    padding: 12px 8px;
    border: none;
    position: absolute;
    top: 6px;
    z-index: -1;
    left: -33px;
    color: #fff;
    height: 42px;
    width: 42px;
}
ul.user-section img {
    border-radius: 50%;
    width: 49px;
    height: 49px;
} 





.hoverContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0px;
    /*transition: bottom 0.8s ease;*/
    transition: max-height 1s;
    -webkit-transition: max-height 1s;
    visibility: hidden;
    overflow: hidden;
    z-index: 2;
}
.image-div:hover .hoverContainer {
    max-height: 165px;
    visibility: visible;
    overflow: hidden;
}

.likeContainer {
    padding-right: 8px;
    padding-left: 8px;
    min-height: 40px;
}
.likeContainer i {
    font-size: 18px;
    color: #fff;
    padding: 5px;
}
.likeContainer span {
    background: #e44c3e;
    /*padding: 4px;*/
    border-radius: 4px;
    color:#fff;
}
.likeContainer span:last-child {
    /*padding-left: 12px;
    padding-right: 12px;*/
    padding-left: 5px;
    padding-right: 10px;
}
.detailsContainer {
    background-color: #FFF;
    min-height: 60px;
    padding-left: 8px;
    padding-right: 8px;
    /* overflow: hidden; */
}
.detailsContainer .userInfo {
    float: left;
    width: 50%;
}
.socilaContent ul {
    float: right;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    -ms-padding-start: 0px;
    font-size: 0px;
    margin-bottom: 0px;
}
.socilaContent ul li i {
    padding: 9px 9px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.green i{
    background: #46b992;
}
.purple i {
    background: #5f338c;
}
.yellow i {
    background: #ffcc00;
}
.red i {
    background: #e64d3d;
}
.blue i {
    background: #4796bf;
}

.detailsContainer .socilaContent ul li {
    display: inline-block;
    padding-top: 10px;
    padding-left: 6px;
}
.detailsContainer .userInfo h3 {
    font-family: LatoWeb;
    padding-top: 8px;
    font-size: 19px;
}
.detailsContainer .socilaContent {
    float: left;
    width: 50%;
}
.detailsContainer .userInfo .userName {
    color: #a4a4a4;
    font-style: italic;
    font-size: 12px;
}
.detailsContainer .userInfo span {
    background-color: #d7d7d7;
    color: #000;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px; 
    margin-left: 1px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #e64d3d;
    background-color: transparent;
}






.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    border: 1px solid #c2c2c2;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #e64d3d;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #e64d3d;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.open>.dropdown-menu {
    display: block !important;
}
.menuContainer{
    position: relative;
}

.uploadIcon {
    position: fixed;
    z-index: 4;
    bottom: 40px;
    right: 12%;
    cursor: pointer;
}
.uploadIcon img {
    width: 60px;
}

.uploadPageTitle {
    padding-bottom: 20px;
    border-bottom: 1px solid;
}
.imagefile {
  position: relative;
  overflow: hidden;
}
.imageUploadFile {
  position: absolute;
  cursor: pointer;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.imageUploadForm{
    text-align: center;
}
.btn-group-lg>.btn, .btn-lg {
    border-radius: 0px;
}
.start-page-cnr .btn-group-lg>.btn, .btn-lg{
    border-radius: 6px;
}
.btn-black {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn.btn-black:hover {
    background-color: #e44c3e;
    border-color: #e44c3e;
    color: #FFF;
    text-decoration: none;
}
a.btn.btn-lg.btn-primary i {
    margin-left: 5px;
}
.imageDetailsRow {
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    height: 153px;
    width: 100%;
}
.imageDetailsRow:first-child {
    margin-top: 50px;
}
.imageDetailsRow .imageDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    padding-right: 15px;
}
.imageDetailsRow .imageDiv img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.imageDetailsRow .detailsCnr {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    padding-left: 15px;
}
.imageDetailsSubmitBtn {
    text-align: center;
    margin: 20px 0px;
}
.navbar-nav {
    float: right;
    display: inline-table;
}
#menu-cnr .search-form-control {
    background-color: #FFF;
    padding: 6px 12px;
    height: 35px;
    border-color: #B4B4B4;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
#menu-cnr .input-group-btn .search-btn {
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    background-color: #7B7E81;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-image: linear-gradient(to bottom,#8B8D90,#64676B);
    box-shadow: inset 0 1px 0 rgba(236,237,237,.6), 0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #64676B;
    padding: 8px 20px 5px;
    /*padding: 5px 12px 1px 12px;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #abb3bb;
    color: #fff;*/
}
#menu-cnr .input-group-select-box .category-btn {
    padding: 5px 12px;
    color: #555;
    border-color: #B4B4B4;
    border-left: none;
    border-radius: 0px;
    height: 35px;
    background-color: #fff;
    /*padding: 4px 12px 4px 12px;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #000;*/
}
#menu-cnr .input-group-select-box .category-btn .divider {
    position: absolute;
    left: 0;
}
#menu-cnr .input-group-select-box .category-btn.category-icon{
    border-right: none;
    font-size: 18px;
    padding: 5px 8px;
}
#menu-cnr .input-group-select-box .category-btn.category-icon:hover {
    color: #e64d3d;
}
#menu-cnr .input-group-btn .search-btn:hover {
    background-color: #e44c3e;
    border-color: #e44c3e82;
}
#menu-cnr .input-group {
    position: static;
    width: 480px;
    border: 4px solid #E6E6E6;
    background-color: #E6E6E6;
    border-radius: 6px;
}
#menu-cnr .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-nav>li:first-child {
    padding: 24px 25px 24px 0px;
}
#menu-cnr.nav>li {
    position: static;
}
#menu-cnr .dropdown-menu{
    margin: 0px;
}
/*#menu-cnr .input-group-btn .search-btn i {
    font-size: 18px;
}*/
#menu-cnr .input-group-btn .form-control {
    height: 30px;
}
/*#menu-cnr .input-group-btn.input-group-select-box {
    width: 20%;
}*/
#menu-cnr .input-group-btn.input-group-select-box .form-control {
    padding: 0px 6px;
    border-left: none;
}
.imageDiv img{
    max-height: 230px;
}
.select2{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    color: #000;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid 1px;
  border-color: #66afe9;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  outline: 0;
}
.btn-container {
    margin: 20px 0px;
}
.uploadResultContainer {
    max-width: 545px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
}
.uploadResultContainer .topIcon {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #337ab7;
    top: -25px;
    right: -24px;
    font-size: 42px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}
.uploadResultContainer img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.uploadResultContainer .details {
    padding: 24px;
    text-align: center;
}
.uploadResultContainer .details p {
    margin: 0 0 6px;
    color: #000;
}
.uploadImageSuccessBg{
    /*background: url(../../images/cool_cat.jpg);*/
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pageLoader{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1031;
}

.loader, .loader:after {
    /*display: block;*/
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    font-size: 50px;
}

input.form-control.focus-danger {
    border-color: #F44336;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 67, 54, 0.95);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 67, 54, 0.95);
}

#sidebar ul.components .userInfo {
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.signin-container .form-group{
    position: relative;
}

.form-control.validation-error {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.indexPageErrorContainer {
    background-color: #fff;
    border-radius: 6px;
    color: #e44c3e;
}
.input-validation {
    background-color: #fff;
    color: #e44c3e;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /* padding: 2px 0px; */
}
.input-plain-validation{
    color: #e44c3e;
}
.signin-container .form-group .form-control-feedback {
    line-height: 42px;
    height: 46px;
    color: #FFCC00;
}

/* Select2 styling changes start */
.select2-results__option {
    color: #000;
}
/* .select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color:yellow;
} */
/* Select2 styling changes end */

#imageUploadNextBtn {
    margin-bottom: 40px;
}

.imageLoading {
  background: transparent url('http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif') center no-repeat;
}

.image-div:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #FFF url(../../images/ajax-loader.gif) center no-repeat;
    z-index: 3;
}
.image-div-no-before:before{
    content:none;
}

.cursor-pointer{
    cursor: pointer;
}

ul#shareMenu {
    height: 40px;
    padding: 3px 0px;
    left: -42px;
    min-width: 152px;
}
ul#shareMenu li {
    padding-left: 13px;
    padding-top: 0;
}
ul#shareMenu li a {
    padding: 0px;
}
ul#shareMenu li i {
    padding: 4px 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0px;
    font-size: 27px;
    background-color: #fff;
    color: #000;
}
ul#shareMenu li i.facebook{
    color:#3b5998;
}
ul#shareMenu li i.twitter{
    color:#1CA0F4;
}
ul#shareMenu li i.gplus{
    color:#DB412C;
}

#searchModeSelecterContainer.mega-dropdown-menu {
    width: 162px;
    min-width: 162px;
    max-width: 162px;
    left: auto;
    position: absolute;
}
#searchModeSelecterContainer.mega-dropdown-menu.userSelected{
    width: 131px;
    min-width: 131px;
}
#searchModeSelecterContainer.mega-dropdown-menu li:hover a{
    color: #e64d3d;
}
#searchModeSelecterContainer.mega-dropdown-menu li a {
    /* padding: 4px 16px; */
}
.checkbox label, .radio label{
    color: #222;
}
.mega-dropdown-menu .checkbox label:hover, .mega-dropdown-menu .radio label:hover {
    color: #e64d3d;
}
.mega-dropdown-menu .checkbox label.active, .mega-dropdown-menu .radio label.active {
    color: #e64d3d;
}
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#E64D3D;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}
.floating-btn{
    margin-top:22px;
}
.bg-white {
    background-color: #fff;
}
.footer-content {
    margin: 20px 0px;
    color: #222;
}

/* Profile page strat */
.profilePicContainer img {
    width: 35%;
}
.infoContainer {
    margin-left: 35px;
}
.infoSet:first-child {
    margin-bottom: 26px;
}
.infoSet:first-child i {
    color: #222;
}
.infoSet:first-child small {
    font-style: italic;
}
.infoSet {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.infoButtonsContainer {
    display: inline-block;
    width: 50%;
    border-right: 1px solid;
    height: 60px;
    padding: 19px 0px 19px 50px;
    position: relative;
    float: left;
}
.infoButtonsContainer span.icon {
    background-color: #F2982E;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
}
.btn-white {
    color: #1CA0F4;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 24px;
    font-family: LatoWebBold;
    box-shadow: 2px 2px 3px #ccc;
}
.infoButtonsContainer:last-child {
    border-right: none;
    padding-top:8px;
}
.socialInfoConatiner ul li {
    width: 100%;
    display: inline-block;
}
.profileRatingContent strong {
    float: left;
    padding-right: 10px;
}
ul.starRating li {
    display: inline-block;
    color: #1CA0F4;
}
.socialInfoConatiner strong, .infoSet strong {
    color: #000;
}
.profileRatingContent {
    margin: 3px 0 0 0;
}
.aboutContainer h3 {
    margin: 20px 0 10px;
}
.aboutContainer p {
    padding: 0 0 20px;
    border-bottom: 1px solid;
}
.socialInfoConatiner ul {
    margin: 16px 0px;
}
.snapsConatiner {
    float: left;
    width: 100%;
    margin: 15px 0px;
}
.snapsConatiner h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #a4a4a4;
}

/* Profile page end */


/* Edit profile start */
.infoContainer label {
    color: #000;
}
.profilePicContainer .recommendation {
    text-align: center;
    font-size: 14px;
    margin: 4px 0px;
}
.profilePicContainer {
    position: relative;
    width: 100%;
}
.profilePicContainer .uploadBtnContainer {
    width: 100%;
    position: absolute;
    padding-left: 35px;
    bottom: 37px;
}
.profilePicContainer.profileView .uploadBtnContainer {
    width: 100%;
    position: absolute;
    padding-left: 17%;
    bottom: 18px;
}
.uploadBtnContainer .btn-white {
    box-shadow: none;
    font-size: 20px;
    padding: 10px 30px;
}
.divider {
    margin: 30px 0px;
    border-bottom: 1px solid #ccc;
}
/* Edit profile end */


/* Photo page start */
.photoDetailsSet:nth-child(3) {
    position: relative;
    padding-left: 150px;
    min-height: 175px;
}
.userDetailsFirstHalf {
    position: absolute;
    left: 0;
    width: 120px;
    text-align: center;
}
.userDetailsFirstHalf img {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 1px solid #a4a4a4;
}
.photoDetailsSet:nth-child(3) .profession {
    font-style: italic;
    color: #000;
    margin: 0px 0px 8px;
}
.photoDetailsSet:nth-child(3) i {
    color: #1CA0F4;
    font-size: 20px;
}
.photoDetailsSet:nth-child(3) small {
    font-style: italic;
    font-size: 16px;
}
.photoDetailsSet:nth-child(3) ul.btnContainer {
    margin-top: 22px;
}
.photoRatingContent {
    padding-top: 18px;
}
.photoDetailsSet:nth-child(3) ul.btnContainer li {
    display: inline-block;
    padding-right: 20px;
    margin-top: 10px;
}
.photoDetailsSet:nth-child(3) .btn-gray {
    font-family: LatoWebBold;
}
.photoDetailsSet:nth-child(3) .photoRatingContent ul.starRating i {
    font-size: 16px;
    color: #e44c3e;
}
.photoDetailsSet:nth-child(4) p {
    font-family: LatoWebMedium;
    margin: 10px 0 15px;
}
.btn-gray {
    background-color: #EBEBEB;
    color: #000;
    padding: 8px 24px;
    box-shadow: 2px 2px 3px #ccc;
}
.photoDetailsContainer {
    background-color: #FFF;
    padding-left: 22px;
    width: 40%;
    float: left;
}
.photoDetailsSet strong {
    color: #000;
}
.snapContainer ul li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 15px;
}
.snapContainer ul li img {
    width: 125px;
    height: 125px;
}
.followingContainer ul {
    position: relative;
    width: 100%;
    height: 74px;
}
.followingContainer ul li {
    display: inline-block;
    background-color: #a3a19f;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: absolute;
}
.followingContainer ul li img {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    border: 1px solid #a4a4a4;
}
.followingContainer ul li:nth-child(1) {
    left: 0;
    z-index: 3;
}
.followingContainer ul li:nth-child(2) {
    left: 50px;
    z-index: 2;
}
.followingContainer ul li:nth-child(3) {
    left: 100px;
    z-index: 1;
}
.followingContainer ul li:nth-child(4) {
    left: 150px;
}
.photoDetailsSet {
    padding-top: 15px;
}
.photoDetailsSet:nth-child(4) {
    text-align: center;
    color: #000;
}
.photoContainer {
    width: 60%;
    float: left;
    position: relative;
}
.photoContainer .likeContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 15px;
}
.photoContainer img {
    width: 100%;
}
.photoContainer .socialContainer {
    padding: 15px 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.photoContainer .socialContainer ul {
    float: right;
}
.photoContainer .socialContainer ul li {
    display: inline-block;
    padding-left: 4px;
    margin: 0px;
}
.photoContainer .socialContainer ul li i {
    padding: 9px 9px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.followingContainer {
    margin-top: 15px;
}
.photoDetailsSet:last-child {
    padding-bottom: 15px;
}
.wholeContainer {
    float: left;
    background-color: #fff;
}
/* Photo page end */



#homeImageContainer {    
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
#homeImageContainer .mainImageBox{
    width:100%;
    padding-top: 16px;
} 






@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (max-width:1200px){
    /* Image hocer section */
    .detailsContainer {
        min-height: 98px;
    }
}

@media (min-width:992px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (max-width:992px){
    #homeImageContainer {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    /* Image hocer section */
    .detailsContainer {
        min-height: 60px;
    }
    .homeUserfollowingLable{
        display: none;
    }

    /* profile page */
    .infoButtonsContainer {
        padding: 9px 0px 0px 50px;
    }

    /* photo details page */
    .photoContainer {
        width: 100%;
        float: none;
    }
    .photoDetailsContainer {
        padding-left: 22px;
        padding-right: 22px;
        width: 100%;
        float: none;
    }
    .wholeContainer {
        float: none;
    }
}
@media (max-width:768px){
    /*.navbar-nav {
        margin: 0px;
    }
    .navbar-header {
        float: left;
    }*/
    .content {
        margin-top: 86px;
    }
    .content.front-home {
        margin-top: 86px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-nav {
        display: block;
        margin: 0px;
        width: 100%;
    }
    .navbar-nav > li {
        display: block;
        float: none;
    }
    .navbar-nav>li:last-child {
        padding-right: 0px;
        position: absolute !important;
        top: 0;
        right: 0;
    }
    .navbar-nav>li:first-child {
        padding: 0px 0px 30px 0px;
    }
    #menu-cnr .input-group{
        width: 100%;
    }

    /* home image   */
    .homeUserfollowingLable{
        display: inline;
    }
    .detailsContainer {
        min-height: 98px;
    }

    /* profile page */
    .infoContainer {
        margin-left: 0px;
    }
    .infoButtonsContainer {
        padding: 19px 0px 19px 50px;
    }

}
@media (min-width:768px){
    /* Image grid start */
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
    /* Image grid end */

    .navbar-header {
        float: left;
    }
    .navbar-nav {
        display: inline-table;
        width: auto;
    }
    .navbar-nav > li {
        display: inline-block;
        float: left;
    }
    .navbar-nav>li:last-child {
        padding-right: 0px;
        position: relative;
    }
    .navbar-nav>li:first-child {
        padding: 24px 25px 24px 0px;
    }
    #menu-cnr .input-group{
        width: 480px;
    }


}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid;
        background-color: #FFF;
    }
    #menu-cnr .dropdown-menu.mega-dropdown-menu.search-menu {
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 629px) {
            
    #homeImageContainer {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    }
    .detailsContainer {
        min-height: 60px;
    }
    
    /* Profile page */
    .infoButtonsContainer {
        width: 100%;
        border-right: none;
    }
    .infoButtonsContainer:last-child {
        padding: 0;
        margin: 14px 0px;
    }
}

@media (max-width:450px){
    
}
@media (max-width:425px){
    /* home image   */
    .homeUserfollowingLable{
        display: none;
    }
}
@media (max-width:398px){
    /* home image   */
    .homeUserfollowingLable{
        display: inline;
    }
    .detailsContainer {
        min-height: 98px;
    }
}
