/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 1031;
    background: #f5f5f5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #e64d3d;
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #f5f5f5;
    color: #e64d3d;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1030;
    display: none;
    
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FFF;
    border-bottom: 1px solid #c2c2c2;
}
#sidebar .sidebar-header img {
    width: 95px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #c2c2c2;
}

#sidebar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #000;
}
#sidebar ul li a:hover {
    color: #e64d3d;
    background: #fff;
}

#sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #e64d3d;
}


#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
#sidebar a[aria-expanded="true"]::before {
    content: '\e260';
}


#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e64d3d;
    color: #fff;    
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #e64d3d!important;
    color: #fff !important;
}


#sidebar ul.components .userInfo {
    padding: 0px 10px 10px 10px;
    color: #000;
}
#sidebar ul.components .userInfo #sideBarPhoto {
    width: 60px;
    height: 60px;
}